# Ignorar la carpeta vendor que contiene dependencias instaladas por Composer
/vendor/

# Ignorar archivos de caché y compilados por Smarty
/templates/cache/
/cache/

# Ignorar archivos de configuración y logs del servidor web
*.log
*.env
*.local
*.config.php
/web.config
/htaccess

# Ignorar archivos de configuraciones IDE específicas
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar todos los archivos en la carpeta public/images/avatar
public/images/avatar/*
# Exceptuar el archivo default_avatar.png
!public/images/avatar/default_avatar.png

# Ignorar archivos de Composer
composer.lock
composer.phar
