# Ignorar la carpeta vendor que contiene dependencias instaladas por Composer
/vendor/

# Ignorar archivos de configuración de entornos locales
/configs/config.php

# Ignorar archivos de caché y compilados por Smarty
/templates/cache/
/cache/

# Ignorar archivos de configuración y logs del servidor web
*.log
*.env
*.local
*.config.php
/web.config
/htaccess

# Ignorar archivos de configuraciones IDE específicas
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de Composer
composer.lock
composer.phar

# Ignorar todo lo que esté en la carpeta public que no sea esencial
/public/css/styles.css
/public/js/scripts.js
/public/images/

# Ignorar archivos de configuración y caché de WAMP
/wamp64/
