RewriteEngine On

# Excluir ciertas rutas de la redirección
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/vendor/
RewriteCond %{REQUEST_URI} !^/assets/
RewriteCond %{REQUEST_URI} !^/css/
RewriteCond %{REQUEST_URI} !^/js/
RewriteCond %{REQUEST_URI} !^/images/

# Redirigir todo el tráfico restante a public/
RewriteRule ^(.*)$ public/$1 [L]

# Si el archivo o directorio solicitado existe, lo sirve directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todas las solicitudes al index.php dentro del directorio public
RewriteRule ^ public/index.php [L]
